export(categ_racialized)
export(categ_indigenous)
export(categ_disability)
export(categ_income)
export(categ_gender)
export(categ_trans_status)
export(categ_sexual_orientation)
export(categ_slgbtq)
export(categ_age_numeric)
export(categ_age_groups)
export(categ_newcomer)
export(categ_fsa_urban)
export(recode_income)
export(get_default_mapping)